.filter-title {
  display: flex;
  font-size: 30px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-clear-wrapper {
  text-align: center;
}

.btn-clear {
  background-color: #d36464;
  font-size: 25px;
  padding: 0.5rem 2rem;
}

.btn-filter {
  background-color: var(--color-third);
  font-size: 25px;
  padding: 1rem 2rem;
}

.filter-input {
  background-color: var(--color-third);
  text-align: center;
  font-size: 25px;
  border: none;

  padding: 1rem 0;
  border-radius: 8px;
  font-weight: 400;
  margin: 0;
}

.filter-input:focus,
.filter-input:focus {
  background-color: white;
  border: none;
  outline: none;
}

.filter-input::placeholder{
  font-weight: 700;
}
