.btn-save {
  margin-top: 1rem;
  background-color: #68ae6fb2;
  color: white;
  padding: 1rem 4rem;
  font-size: 1.5rem;
}

.btn-save:hover {
  background-color: #68ae6f;
}

.title-edit-book {
  text-align: center;
  font-weight: 700;
}

.book-inputs-field {
  cursor: text;
  background-color: var(--color-third);
  text-align: center;
  font-size: medium;
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: 400;
  margin: 0.25rem 0;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.5);
}

.book-inputs-field:focus {
  background-color: white;
  border: none;
  outline: none;
}

.react-datepicker__input-container .book-inputs-field {
  width: 575px;
}

.book-inputs-field-edit {
  width: 656px !important;
}

/* Hide the number input's arrow buttons for Chrome, Safari, and Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the number input's arrow buttons for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
