.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

label {
  display: block;
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

input {
  color: #222222;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  margin-bottom: 0.5rem;
}
::placeholder {
  color: #00000080;
}

input:focus,
input:hover {
  outline: none;
  border: solid 1px #222222;
}

.error {
  border: solid 1px #f14668;
}

.btn-login {
  background-color: #5e5bff;
  color: white;
}

.btn-login:focus,
.btn-login:hover {
  background-color: #5e5bffb3;
}
